.product-list {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12%;
  margin-left: 5%;
  margin-right: 5%;
}

.SPINNER {
  position: absolute;
  top: 25%;
  left: 50%;
}
